@model IEnumerable<MyWorkoutTracker.Models.Exercise>
@{
    ViewBag.Title = "Exercise";
}
<body style="background: linear-gradient(to bottom, #2e2c2c 10%, #ffffff 100%);">


    <div class="row" style="padding-top:25px;">
        @foreach (var item in Model)
        {
            <div class="col-lg-3" style="padding-bottom:25px;">
                <div class="card img-rounded" style="width: 28rem; padding:10px; background-color:dimgrey; border:solid; border-color:#145214">
                    <div class="card-header" style="color:white">
                       
                        <input type="button" data-name="@item.Name" data-url="@item.PicUrl" data-desc="@item.Description" class="moreinfo btn  btn-success" value="@item.Name" data-exercise-id="@item.id"  style="color:#145214; font-size:25px; font-family:fantasy;"/>
                    </div>
                    <br />
                    <img style="width:100%; height:180px; background-color: white " class="card-img-top img-rounded" src="~/Images/Exercises/@item.PicUrl" alt="Card image cap">
                    <div class="card-body">
                        <br />
                        <p class="card-text" style="color:white"></p>
                        <div class="text-center">
                            <input onclick="change(this)" value="Add this exercise to my list" type="button" id="Add" class="btn btn-success js-add" data-exercise-id="@item.id">

                        </div>

                    </div>
                </div>
            </div>




        }

    </div>

    <div class="container">
        <div class="modal fade" tabindex="-1" id="exercise"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            ×
                        </button>
                        <h4 class="modal-title" style="color:#145214; font-size:25px; font-family:fantasy;"><b>Details</b></h4>
                    </div>
                    <div class="modal-body" style="background: linear-gradient(to bottom, #2e2c2c 10%, #ffffff 100%);">
                        <form>
                            <h1 class="text-success text-center"><div id="name"></div></h1>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6">
                                    <img style="width:90%; height:320px;" class="img-thumbnail image" />
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-control" style="background-color:dimgrey; color:white;height:100%"><div id="desc"></div></div>

                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">

                        <button type="button" id="btnHideModal" class="btn btn-success">
                            Hide
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @using (Html.BeginForm("Exercise", "Exercises"))
    {
        <input type="submit" class="btn btn-success" />
    }



</body>
@section scripts{
 <script type="text/javascript">
        $(document).ready(function () {
            $(".moreinfo").on("click", function () {
                var name = $(this).data('name');
                var desc = $(this).data('desc');
                var url = $(this).data('url');
                $("#name").text(name);
                $("#desc").text(desc);
                $(".image").attr('src', '/Images/Exercises/' + url);

                 $("#exercise").modal('show');
            $("#btnHideModal").click(function () {
                $("#exercise").modal('hide');
                });
            });
        });
    </script>

    <script>

        $(document).ready(function () {
            $(".js-add").on("click", function () {
                var button = $(this);
                $.ajax({
                    url: "/Exercises/Add/" + button.attr("data-exercise-id"),
                    method: "GET",
                    success: function () {

                    }
                });

            });
        });


    </script>
    <script type="text/javascript">
        function change(selected) {
            selected.value = (selected.value == 'Add this exercise to my list') ? ('This exercise was added to your list') : ('Add this exercise to my list')
            $(selected).fadeTo('fast', 0.2);
            $(selected).attr('disabled', true);

        }
    </script>


}